<h1>Welcome, <%= current_user.name %>!</h1>
<%= image_tag current_user.image %><br>
<%= link_to "Logout", logout_path %><br>
<ul>
  <% @followers.each do |follower| %>
    <li> <%= follower.login %> </li>
  <% end %>
</ul>
